.landing-bg{
    background-image: url("../../public/assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}
.logo{
    height: 5rem;
    width: 5rem;
}
